#landing {
  height:100vh;
  position: relative;
  z-index: 1;
  background: linear-gradient(272deg, #DE040C, #9EBCEB);
  background-size: 400% 400%;
  -webkit-animation: LadingArea 10s ease infinite;
  -moz-animation: LadingArea 10s ease infinite;
  -o-animation: LadingArea 10s ease infinite;
  animation: LadingArea 10s ease infinite;
  display: flex;
  flex:1;
}
.valign-wrapper {
  display: flex;
  flex:1;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#landing span {
    display: inline-block;
}

@-webkit-keyframes LadingArea {
  0% {
    background-position: 0% 48%;
  }
  50% {
    background-position: 100% 53%;
  }
  100% {
    background-position: 0% 48%;
  }
}
@-moz-keyframes LadingArea {
  0% {
    background-position: 0% 48%;
  }
  50% {
    background-position: 100% 53%;
  }
  100% {
    background-position: 0% 48%;
  }
}
@-o-keyframes LadingArea {
  0% {
    background-position: 0% 48%;
  }
  50% {
    background-position: 100% 53%;
  }
  100% {
    background-position: 0% 48%;
  }
}
@keyframes LadingArea {
  0% {
    background-position: 0% 48%;
  }
  50% {
    background-position: 100% 53%;
  }
  100% {
    background-position: 0% 48%;
  }
}

.arrow-container {
  margin-top: 32px;
  width: 45px;
  height: 45px;
  -webkit-border-radius: 45px;
  -moz-border-radius: 45px;
  border-radius: 45px;
  border: 2px solid #fff;
}
.arrow-container img {
  margin: -4px;
  cursor: pointer;
}

#landing .social-links {
  position: absolute;
  right: 10px;
  top: 10px;
}
.logo {
    margin: 15px;
    color: #fff;
    opacity: 0.9;
}
.logo:hover {
    color: #fff;
    opacity: 0.5;
}

.opacity-hover {
    transition: opacity .5s ease-out;
    -moz-transition: opacity .5s ease-out;
    -webkit-transition: opacity .5s ease-out;
    -o-transition: opacity .5s ease-out;
}
