#intro .container {
    padding: 60px 0 20px 0;
}

#intro h2 {
    color: #5E5D5D;
    display: inline-block;
    padding-bottom: 10px;
    border-bottom: 1px #5E5D5D solid;
}
.material-icons {
    font-size: 28px;
    margin: 16px;
}
@media only screen and (min-width: 1170px) {
    #intro .vertical-timeline-element-date  {
        left: 135%;
    }
    #intro .vertical-timeline-element:nth-child(2n):not(.vertical-timeline-element--left) .vertical-timeline-element-content .vertical-timeline-element-date,
    .vertical-timeline-element.vertical-timeline-element--right .vertical-timeline-element-content .vertical-timeline-element-date {
        left: auto;
        right: 135%;
        text-align: right;
    }
}
