.material-icons {
    font-size: 28px;
    margin: 16px;
}
@media only screen and (min-width: 1170px) {
    #work .vertical-timeline-element-date  {
        left: 135%;
    }
    #work .vertical-timeline-element:nth-child(2n):not(.vertical-timeline-element--left) .vertical-timeline-element-content .vertical-timeline-element-date,
    .vertical-timeline-element.vertical-timeline-element--right .vertical-timeline-element-content .vertical-timeline-element-date {
        left: auto;
        right: 135%;
        text-align: right;
    }
}
