html,
body,
.App,
#root {
  height: 100%;
  background-color: rgb(227, 227, 227);
}

.App {
  display: block;
  min-height: 100vh;
  min-height: 100%;
  padding-bottom: 60px;
  position: relative;
}

section .container {
    padding: 60px 0 20px 0;
}

section h2 {
    color: #5E5D5D;
    display: inline-block;
    padding-bottom: 10px;
    border-bottom: 1px #5E5D5D solid;
}