html,
body,
.App,
#root {
  height: 100%;
  background-color: rgb(227, 227, 227);
}

.App {
  display: block;
  min-height: 100vh;
  min-height: 100%;
  padding-bottom: 60px;
  position: relative;
}

section .container {
  padding-top: 60px;
  padding-bottom: 20px;
}

section h2 {
    color: #5E5D5D;
    display: inline-block;
    padding-bottom: 10px;
    border-bottom: 1px #5E5D5D solid;
}

.mt16 {
  margin-top: 16px;
}
.mt32 {
  margin-top: 32px;
}
.mb32 {
  margin-bottom: 32px;
}
